<!-- Panel - Objects -->
<nav id="panel-objects">
  <div class="panel-objects-container container dark">
      <h3 class="text-center mb-5">Danh mục dịch vụ: </h3>
      <div class="panel-objects-list row">
          <div class="col-md-4 col-sm-6">
              <!-- Panel Objects Item -->
              <div class="panel-objects-item">
                  <a href="/hotel" class="panel-objects-item-image"><img src="img/objects/panel-object01.jpg" alt=""></a>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <!-- Panel Objects Item -->
              <div class="panel-objects-item">
                  <a href="/mudbathspa" class="panel-objects-item-image"><img src="img/objects/panel-object02.jpg" alt=""></a>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <!-- Panel Objects Item -->
              <div class="panel-objects-item">
                  <a href="/weddingconvention" class="panel-objects-item-image"><img src="img/objects/panel-object03.jpg" alt=""></a>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
              <!-- Panel Objects Item -->
              <div class="panel-objects-item">
                  <a href="/show" class="panel-objects-item-image"><img src="img/objects/panel-object04.jpg" alt=""></a>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
                  <!-- Panel Objects Item -->
              <div class="panel-objects-item">
                  <a href="/lakeview" class="panel-objects-item-image"><img src="img/objects/panel-object05.jpg" alt=""></a>
              </div>
          </div>
          <div class="col-md-4 col-sm-6">
                  <!-- Panel Objects Item -->
              <div class="panel-objects-item">
                  <a href="/water" class="panel-objects-item-image"><img src="img/objects/panel-object06.jpg" alt=""></a>
              </div>
          </div>
          
      </div>
      <!-- Close -->
      <button class="panel-objects-close close" data-toggle="panel-objects"></button>
  </div>
</nav>